.App {
  text-align: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banglaFont {
  font-family: HindShiliguri;
  /* -webkit-text-stroke: 1px rgb(19, 16, 16); */
    /* width and color */
}